DATABASE_URL="mongodb+srv://yashraj:Gauransh@cluster0.3j4ac7m.mongodb.net/"
NEXTAUTH_SECRET="testsecret"
NEXTAUTH_URL="http://localhost:3000"
JWT_SECRET="testjwt"
GOOGLE_CLIENT_ID="test"
GOOGLE_CLIENT_SECRET="test"
GOOGLE_REFRESH_TOKEN="test"
GOOGLE_REDIRECT_URI="http://localhost:3000"
GEMINI_API_KEY="test"
UPSTASH_REDIS_REST_URL="test"
UPSTASH_REDIS_REST_TOKEN="test"
ADMIN_EMAIL="test@example.com"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
ENCRYPTION_KEY="12345678901234567890123456789012"